body{
    color: red;
}

.desktop, .mobile {
    display:none;
}

/* this rule applies for every viewport size 500px and lower. At 501px, it no longer satisfies the rule, and we go to the default CSS */

@media (max-width:500px){
    body{
        color: blue;
    }
}

@media (orientation: portrait) {
    
    .title {
        color:yellow;
        background-color: black;
        text-align: center;
        padding: 5%;
} 

    .mobile{
        display:inline-block;
    }

}

@media (orientation: landscape) {
    .subtitle {
        color:green;
        background-color: orange;
        text-align: center;
        padding: 5%;
} 
    .desktop{
        display:inline-block;
    }

}
