@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Montserrat&family=Roboto&family=Rubik+Moonrocks&family=Splash&display=swap');

@font-face {
    font-family: klong;
    src: url('Sernes-Light.otf');
}

*{
    box-sizing: border-box;
    font-family: 'klong', sans-serif;
}

body{
    background-color: antiquewhite;
}

h1, h2{
    color: red;
    text-align: center;
}

img{
    width:30%;
    float:left;
    padding-right:20px;

}

p {
    color: purple;
    font-size: 32px;
    font-display: bold;
}

.centretext{
    text-align: center;
}

#maintitle{
    color:green;
    text-decoration: underline;
}

nav>a{
    color: hotpink;
    text-decoration: none;
    font-size: 30px;
}

.content{
    margin-left:auto;
    margin-right:auto;
    display: block;
    width: 540px;
    padding: 10px;
    border: 20px green solid;
    background-color: darkgray;
}